.git
.gitignore
.vscode
.env
backend/.env
frontend/.env

**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

backend/.venv
frontend/node_modules
frontend/dist

backend/uploads
backend/results
backend/glossaries
backend/doctrans.db
logs

docs
*.sln
